# 데이터 분석
- 분석 가능한 데이터에서 기존 데이터에서 패턴을 찾고 미래의 데이터를 예측하거나 분류하는것
  - 분석가능한 데이터란
    1. 중앙에 밀집되어 있어야함

- 머신러닝(정형데이터 분석) 
  - 통계학적 기반한 ML
  - 인공신경망 기반의 ML(텐서플로우)
  
- 딥러닝 (비정형데이터 분석)

## Part1 [기술통계]
- 편차 공식
- 분산 공식
- 표준편차

분석해서 쓸만한 데이터인지 알아보기
평균, 중앙값, 최빈값

In [2]:
# sample
# 평균
a = [1, 1, 1, 12] 
b = [3, 3, 4, 5] #둘다 합 15
suma = 0
sumb = 0
for amean, bmean in zip(a,b):
    suma += amean
    sumb += bmean
print(suma/len(a))
print(sumb/len(b))

3.75
3.75

In [3]:
# 중앙값(전체데이터 오름차순으로 만들고 그 갯수의 가운데 값,
# 짝수일때는 n/2 왼쪽과 오른쪽값의 합/2)
# 중앙값 함수
def median(var):
    if len(var) % 2 == 0:#짝수
        center = int(len(var)/2)
        print((var[center] + var[center-1])/2) #짝수의 중앙값
    else:
        center = int(round(len(var)/2, 0)) # 홀수일때 파이썬 특성상 내림이 가능
        print(var[center])

In [4]:
c = [3, 1, 2, 14, 4, 5]
c.sort()
median(a) #오름차순이어야 한다
median(b)
median(c)

1.0
3.5
3.5

In [5]:
# 최빈값 
a = [1, 1, 1, 12] # 결과 1
b = [3, 3, 4, 5]  # 결과 3

aCount = [3, 3, 3, 1]
bCount = [2, 2, 1, 1]
aCountMax = 3
aCountMaxindex = 1
aCountMaxindexvalue = 1

## 표준편차

In [6]:
# 표준편차
import numpy as np
np.std(a) #표준편차
np.var(a) #분산

22.6875

In [7]:
a = [1, 1, 1, 12]
b = [2, 2, 4, 4]

print(np.std(a), np.var(a)) #분산
print(np.std(b), np.var(b))

4.763139720814412 22.6875
1.0 1.0

In [8]:
import pandas as pd
df = pd.read_csv('../example/part3/auto-mpg.csv', header=None)

In [9]:
df.describe()

,0,1,2,4,5,6,7
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [10]:
a = [1, 1, 1, 12]

print( 'std',np.std(a),' mean' ,np.mean(a))
tmp = pd.DataFrame(a)
tmp.describe()
#다르다
# pandas 표본집단으로 해서 다르다 (n-1개로 나눔)
# np 는 모집단(전체데이터)

std 4.763139720814412  mean 3.75

           0
count   4.00
mean    3.75
std     5.50
min     1.00
25%     1.00
50%     1.00
75%     3.75
max    12.00

In [11]:
tmp.std(), tmp.std(ddof=0) #ddof 는 모집단 계산 파라메터

(0    5.5
 dtype: float64,
 0    4.76314
 dtype: float64)

In [12]:
np.mean(a), np.std(a, ddof=0), np.std(a, ddof=1)
# ddof =1 이면 표본집단, 0이면 모집단
#넘파이는 기본 모편차, 판다스는 기본 표준집단편차

(3.75, 4.763139720814412, 5.5)

In [13]:
np.mean(b), np.std(b, ddof=0), np.std(b, ddof=1)

(3.0, 1.0, 1.1547005383792515)

In [14]:
a = [1, 1, 1, 12]
a1 = np.array(a)/100 #스케일링 한것
np.var(a), np.var(a1)

(22.6875, 0.0022687499999999995)

## 상관계수
- 예측과 회기에 사용되는 결과값(y, 레이블) 과 연관성 있는 특징값(x값)을 미리 선별

In [15]:
df.corr() #상관계수 x의 변화량 대비 y의 변화량이 1, -1에 가까워질수록 상관있다?
# 표준편차가 낮아야 상관계수가 높다

          0         1         2         4         5         6         7
0  1.000000 -0.775396 -0.804203 -0.831741  0.420289  0.579267  0.563450
1 -0.775396  1.000000  0.950721  0.896017 -0.505419 -0.348746 -0.562543
2 -0.804203  0.950721  1.000000  0.932824 -0.543684 -0.370164 -0.609409
4 -0.831741  0.896017  0.932824  1.000000 -0.417457 -0.306564 -0.581024
5  0.420289 -0.505419 -0.543684 -0.417457  1.000000  0.288137  0.205873
6  0.579267 -0.348746 -0.370164 -0.306564  0.288137  1.000000  0.180662
7  0.563450 -0.562543 -0.609409 -0.581024  0.205873  0.180662  1.000000

In [16]:
df[7]

0      1
1      1
2      1
3      1
4      1
      ..
393    1
394    2
395    1
396    1
397    1
Name: 7, Length: 398, dtype: int64

In [17]:
df[[7,5]].corr()

          7         5
7  1.000000  0.205873
5  0.205873  1.000000

In [18]:
df[7_1] = df[7]/100
df[5_1] = df[5]/100
df[[7_1, 5_1]].corr() #스케일링해도 상관도의 값은 같다

          71        51
71  1.000000  0.205873
51  0.205873  1.000000

## 상관도와 히스토그램의 이해

In [22]:
# 데이터 분석작업을 진행할떄는
# 데이터의 연관성과 패턴을 분석하는 것이라서
# 데이터 범위를 일정한 범위로 줄여서 작업해도 됨(스케일링)
# 컴퓨터의 부하를 줄이기 위해
x = [1, 2, 3, 4]
y = [20, 21, 25, 28]

np.corrcoef(x,y)

array([[1.        , 0.97780241],
       [0.97780241, 1.        ]])

In [23]:
x = [1, 2, 3, 4]
y = np.array([20, 21, 25, 28])/1000

np.corrcoef(x,y)

array([[1.        , 0.97780241],
       [0.97780241, 1.        ]])